* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    color: black;
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
  }
}
a {
  text-decoration: none;
}
button {
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}
.main,
section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}
