.header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
}
.title {
  display: flex;
  align-items: center;
}
.title__h1 {
  font-size: 30px;
}
.title img {
  width: 70px;
  height: 70px;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav ul li {
  list-style: none;
  display: flex;
}
.cart-widget {
  display: flex;
  position: absolute;
  right: 5rem;
  cursor: pointer;
}
.links {
  text-decoration: none;
  color: white;
}
