.header {
  background-color: $colorPrincipal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
}
.title {
  display: flex;
  align-items: center;
  margin: 3rem;
}
.title__h1 {
  font-size: 30px;
  font-family: "Rampart One", cursive;
  color: $colorSecundario;
}
.title img {
  width: 70px;
  height: 70px;
}
.header__assets {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}
.nav {
  display: flex;
  gap: 30px;
  list-style: none;
  display: flex;
  font-weight: 600;
  align-items: center;
}
.arrow {
  display: inline-block;
  transition: 0.3s;
}
.links {
  text-decoration: none;
  color: $colorSecundario;
  transition: 0.3 ease;
}
.bars {
  cursor: pointer;
  display: none;
}
.bar {
  width: 30px;
  height: 2px;
  background-color: $colorSecundario;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.barTop {
  transform: rotate(-45deg) translate(6px, -7px);
  position: absolute;
  bottom: 30px;
  transition: 0.3s ease-in-out;
}
.barMid {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.barBottom {
  transform: rotate(45deg) translate(-7px, -6px);
  bottom: 30px;
  position: absolute;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1090px) {
  .title {
    margin: 2rem;
  }
  .title__h1 {
    width: 80px;
    font-size: 20px;
    z-index: 1000;
  }
  .title img {
    width: 40px;
    height: 40px;
  }
  .nav {
    position: fixed;
    left: 0%;
    top: -100%;
    transition: 0.5s;
    z-index: -1;
  }
  .bars {
    display: block;
  }
  .navOpen {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    position: fixed;
    left: 0%;
    top: 5rem;
    height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    gap: 2rem;
    transition: 0.3s;
  }
  .links {
    margin-top: 3rem;
  }
  .category-nav {
    height: 0;
    transition: 0.3s;
    overflow: auto;
  }
  .category__link-nav {
    color: $colorSecundario;
    transition: 0.3 ease;
  }
  .category-nav-open {
    background-color: rgb(218, 211, 211);
    height: auto;
    transition: 0.3s;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 1rem;
    flex-direction: column;
  }
  .arrowDown {
    display: inline-block;
    transform: rotate(90deg) translateX(2px);
    transition: 0.3s;
  }
}
@media screen and (min-width: 1090px) {
  .links:hover {
    text-decoration: underline;
    transition: 0.3 ease;
  }
  .category__link-nav {
    display: none;
    color: $colorSecundario;
  }
  .category__link-nav:hover {
    text-decoration: underline;
    transition: 0.3 ease;
  }
  .store:hover .category__link-nav {
    display: block;
  }
  .category-nav-open {
    background-color: $colorPrincipal;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 3.3rem;
    padding: 15px;
    border-radius: 0.5rem;
  }
  .store:hover .category-nav {
    box-shadow: $boxShadow;
    background-color: $colorPrincipal;
    flex-direction: column;
    gap: 1rem;
    top: 3.3rem;
    position: absolute;
    padding: 15px;
    border-radius: 0.5rem;
  }
  .store:hover .category-nav-open {
    box-shadow: $boxShadow;
  }
  .store:hover .arrow {
    transform: rotate(90deg) translateX(2px);
    transition: 0.3s;
  }
}
