.container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.products-title {
  text-align: center;
  width: 100%;
  background-color: rgba(134, 132, 132, 0.25);
  padding: 0.5rem;
}
.category-title {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px dashed black;
}
.finder input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
}
.productos {
  width: 100%;
  text-align: center;
}
.item-list {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 60px;
}
.item {
  position: relative;
  cursor: pointer;
  width: 350px;
  height: 500px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: 0.3s;
}
.item:hover .item__info {
  background-color: $colorSecundario;
  color: $colorPrincipal;
  transition: 0.3s;
}
.item__info {
  position: absolute;
  bottom: -10%;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  transition: all 0.3s;
  color: $colorSecundario;
}
.category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.category__container:last-child {
  align-self: flex-start;
}
.category__link {
  color: $colorPrincipal;
  background-color: $colorSecundario;
  padding: 0.4rem;
  width: 8rem;
  text-align: center;
  border-radius: 5%;
  box-shadow: $boxShadow;
  transition: 0.3s;
}
.category__link:hover {
  background-color: rgb(54, 52, 52);
  transition: 0.3s;
}
.active {
  background-color: $colorPrincipal;
  color: $colorSecundario;
  font-weight: 700;
}
.active:hover {
  background-color: $colorPrincipal;
}
.detail-container {
  color: $colorSecundario;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8rem;
}
.item-img {
  width: 500px;
  height: 650px;
  border-radius: 5px;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.detail-info {
  max-width: 500px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin: 1rem;
}
.item-price {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.item-price span {
  background-color: lawngreen;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 1rem;
  cursor: pointer;
}
.select {
  font-size: 1.2rem;
}
.add__cart--button {
  border: 1px solid lawngreen;
  border-radius: 5px;
  box-shadow: $boxShadow;
  font-weight: 600;
  transition: 0.3s;
}
.add__cart--button:hover {
  background-color: rgba(127, 250, 4, 0.5);
}
.cart__container {
  font-size: 15px;
  gap: 1rem;
  text-align: center;
}
.cart__item {
  background-color: $colorPrincipal;
  box-shadow: $boxShadow;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__item--container {
  width: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.cart-img {
  width: 100px;
  height: 100px;
}
.item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-title {
    padding: 0.1rem;
  }
  .category-title {
    display: none;
  }
  .item-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 9%;
    margin-right: 25px;
  }
  .item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .item {
    width: 150px;
    height: 250px;
  }
  .item__info {
    font-size: 10px;
    bottom: -15%;
    height: 12%;
  }
  .category__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border: none;
    height: 0;
  }
  .category__link {
    font-size: 70%;
    width: 6rem;
  }
  .detail-container {
    flex-direction: column;
    font-size: 70%;
    justify-content: center;
    gap: 1rem;
  }
  .item-img {
    width: 300px;
    height: 450px;
  }
  .cart__item {
    flex-direction: column;
    font-size: 70%;
    gap: 0.5rem;
  }
  .cart__item--container {
    display: flex;
    flex-direction: column;
  }
  .cart-img {
    width: 90px;
    height: 90px;
  }
  .item-quantity {
    gap: 1px;
  }
}

@media screen and (min-width: 960px) {
  .item__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20rem;
    padding: 0.5rem;
  }
  .category__container {
    align-self: flex-start;
    flex-direction: column;
    width: 30%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .item__container {
    gap: 5rem;
  }
  .detail-info {
    font-size: 1rem;
    width: 500px;
  }
}
