.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.finder input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
}
.productos {
  width: 100%;
  text-align: center;
}
.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  max-width: 1200px;
}
.item {
  position: relative;
  cursor: pointer;
  width: 350px;
  height: 500px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: 0.3s;
}
.item:hover .item__info {
  background-color: $colorSecundario;
  color: $colorPrincipal;
  transition: 0.3s;
}
.item__info {
  position: absolute;
  bottom: -10%;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  transition: all 0.3s;
}

@media screen and (max-width: 1170px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 9%;
    margin-right: 25px;
  }
  .item {
    width: 150px;
    height: 250px;
  }
  .item__info {
    font-size: 10px;
    bottom: -15%;
    height: 12%;
  }
}
